@model IEnumerable<ProjetoAlugar.Models.Endereco>

@{
    var controller = "Endereco";
}

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Endereco" asp-route-id="@item.EnderecoId" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="right" title="Editar endereço">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a onclick="ConfirmarExclusao('@item.EnderecoId', '@item.Rua', '@controller')" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="right" title="Excluir nível de acesso">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
