@model IEnumerable<ProjetoAlugar.Models.Carro>

@{
    ViewData["Title"] = "Carros";
    var controller = "Carro";
}

<div class="card">
    <div class="card-header bg-light">
        <h4>
            Carros
            <a asp-action="Create" class="btn btn-outline-primary float-right" data-toggle="tooltip" data-placement="right" title="Novo carro">
                <i class="fa fa-money"></i>
            </a>
        </h4>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="@Url.Content(item.Foto)" class="card-img-top img-fluid" alt="" />
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </h5>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.Marca)
                            </p>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.PrecoDiaria)
                            </p>

                            <div class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.CarroId" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="right" title="Atualizar carro">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>

                                <a onclick="ConfirmarExclusao('@item.CarroId', '@item.Nome', '@controller')" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="right" title="Excluir carro">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                                <a asp-action="Alugar" asp-controller="Aluguel" asp-route-CarroId="@item.CarroId" asp-route-PrecoDiaria="@item.PrecoDiaria" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="Alugar veículo">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<partial name="_ModalExclusao" />

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })

        function ConfirmarExclusao(id, nome, controller) {
            $(".Nome").html(nome);
            $(".modal").modal("show");

            $(".btnExcluir").on('click', function () {
                var url = "/" + controller + "/Delete/";

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function () {
                        alert("Excluído com sucesso!");
                        location.reload();
                    }
                })
            })
        }
    </script>
}