@model IEnumerable<ProjetoAlugar.Models.Conta>

@{
    ViewData["Title"] = "Saldos";

    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header bg-light">
        <h4>
            Contas
            <a asp-action="Create" class="btn btn-outline-primary float-right" data-toggle="tooltip" data-placement="right" title="Novo saldo">
                <i class="fa fa-money"></i>
            </a>
        </h4>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Saldo)
                    </th>
                    <th scope="col">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Saldo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ContaId" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="right" title="Atualizar saldo">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_ModalExclusao" />

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
            
    </script>
}